.App {
  min-height: 100vh;
  position: relative;
  color: rgb(229,177, 58);
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

p {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

.details img {
  width: 150px !important;
  height: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
