.films {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 30px;
}

.films article {
  padding: 0 20px;
}

.film-detail-header {
  position: relative;
}

.film-detail-crawl {
  animation: scroll 100s linear !important;
}
