img {
  height: auto;
  max-width: 100%;
}

.characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 30px;
}

.characters article {
  padding: 0 20px;
}

.loader {
  color: yellow;
}
